In [1]:
# This is a comment
print('Hello World')

Hello World

## Variables

Variables are containers for storing data values.

In [2]:
x = 10
print(x)

10

In [3]:
y = x*3  # 10*3 = 30
y

30

### Rules for Defining a Variable 

1. A variable name must start with a letter or underscore (_)

2. A variable name can only contain alpha numeric values
Alpha numeric - Alphabets, Numbers, Underscore

3. Variable names are case sensitive

In [4]:
# Multiple Variable Assignment

name, course, marks = 'John', 'Data Science', 85
print('Name: ', name)
print('Course: ', course)
print('Marks: ', marks)

Name:  John
Course:  Data Science
Marks:  85

In [5]:
# Variable Swapping

x = 10
y = 20

x,y = y,x # 20, 10

print('X: ', x)
print('Y: ', y)

X:  20
Y:  10

## Data Types

It is used to define the kind of data in a variable

1. Integer - Whole Numbers

2. Float - Decimal Numbers

3. Complex - Complex Numbers

y = 35 + 7j

4. Boolean - True or False

5. String - Collection of characters enclosed in single or double quotation marks

word = 'Hello'

6. List - Mutable ordered collection of objects.

marks = [34,24,64,23,75,24]

7. Tuple - Immutable ordered collection of objects

marks = (34,24,64,23,75,24)

8. Set - Mutable unordered collection of unique objects

marks = {34,24,64,23,75,24}

9. Dictionary - Key value pairs

marks = {'Maths': 78, 'Science': 64, 'English':82}

### Mutable and Immutable Data Types

Mutable Data Types can be changed after creation

Immutable Data Type cannot be changed after creation

In [7]:
x = 10.7
type(x)

float

### Strings

In [8]:
word = 'Hello World'
word[7]

'o'

In [9]:
# word[start index:stop index: step value]
word[3:8]

'lo Wo'

In [10]:
word[:8]

'Hello Wo'

In [11]:
word[3:]

'lo World'

In [12]:
word[::2]

'HloWrd'

join(): Converts elements of an collection into a string

In [13]:
words = ['Hey', '!', 'How', 'are', 'you', '?']
sent = ' '.join(words)
sent

'Hey ! How are you ?'

lower(): Converts a string into lowercase

In [14]:
word = 'HELLO'
word_lower = word.lower()
word_lower

'hello'

upper(): Converts a string into upper case

In [15]:
word = 'hello'
word_upper = word.upper()
word_upper

'HELLO'

replace(): Returns a string where a specified value is replaced with a specified value

In [16]:
sent = 'Hello. It is nice to meet you. How have you been.'
sent.replace('.', '!')

'Hello! It is nice to meet you! How have you been!'

split(): Splits the string at the specified separator and returns a list

In [17]:
sent = 'Hello How have you been?'
words = sent.split()
words

['Hello', 'How', 'have', 'you', 'been?']

### Tuples

In [18]:
# Ordered

t = (5,10,15,20,25)
t[3]

20

In [19]:
# Immutable

t[2] = 100

TypeError: 'tuple' object does not support item assignment

In [20]:
# Allows Duplicate Values

t = (1,3,3,5,5,2,5,6,7)
t

(1, 3, 3, 5, 5, 2, 5, 6, 7)

In [21]:
# len(): returns the number of elements in the tuple

len(t)

9

In [22]:
# Tuple of one element

t = (5,)
type(t)

tuple

In [23]:
x = 1,2,3,4,5,6,7,8,9
type(x)

tuple

In [24]:
# Tuple allow elements of any data type

t = ('Hello', 5, 8.3, True)
t

('Hello', 5, 8.3, True)

### List

In [25]:
# Ordered

lst = [4,5,6,7,2,3,5]
lst[3]

7

In [26]:
lst = ['Utkarsh', 'Avanish', 'Sayali', 'Jayant', 
       'Mohammad Zaid Shaikh']
lst

['Utkarsh', 'Avanish', 'Sayali', 'Jayant', 'Mohammad Zaid Shaikh']

index(): Returns the index of the first elements with the specified value

In [27]:
lst.index('Sayali')

2

sort(): Sorts the list

In [28]:
lst = [5,6,3,7,3,2,6,7,3,2]
lst.sort()
lst

[2, 2, 3, 3, 3, 5, 6, 6, 7, 7]

append(): Adds an element at the end of the list

In [29]:
lst = [2,4,6,8,10]
lst.append(12)
lst

[2, 4, 6, 8, 10, 12]

extend(): Adds the elements of a collection to the end of the current list

In [30]:
lst.extend([14,16,18,20])
lst

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

pop(): Removes the element at the specified position

In [31]:
lst.pop(3)
lst

[2, 4, 6, 10, 12, 14, 16, 18, 20]

insert(): Adds an element at the specified position

In [32]:
lst.insert(3, 8)
lst

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Dictionary

In [33]:
d = {'Name': 'John', 'Age': 25, 'Job': 'Data Analyst',
    'City': 'New York', 'Email': 'john@nyc.com'}
d

{'Name': 'John',
 'Age': 25,
 'Job': 'Data Analyst',
 'City': 'New York',
 'Email': 'john@nyc.com'}

In [48]:
d['Name']

'John'

In [49]:
# Adding a new element to the dictionary
d['Education'] = 'Masters'
d

{'Name': 'John',
 'Age': 25,
 'Job': 'Data Analyst',
 'City': 'New York',
 'Email': 'john@nyc.com',
 'Education': 'Masters'}

pop(): Removes the element with the specified key

In [50]:
d.pop('City')
d

{'Name': 'John',
 'Age': 25,
 'Job': 'Data Analyst',
 'Email': 'john@nyc.com',
 'Education': 'Masters'}

In [34]:
d = {'Name': 'John',
 'Age': 25,
 'Job': 'Data Analyst',
 'Email': 'john@nyc.com',
 'Education': 'Masters'}

items(): Returns all the key-value pairs in the dictionary

In [35]:
d.items()

dict_items([('Name', 'John'), ('Age', 25), ('Job', 'Data Analyst'), ('Email', 'john@nyc.com'), ('Education', 'Masters')])

keys(): Returns a list containing the dictionary's keys

In [ ]:
d.keys()

values(): Returns a list containing all the dictionary's values

In [37]:
d.values()

dict_values(['John', 25, 'Data Analyst', 'john@nyc.com', 'Masters'])

## Sets

In [43]:
s = {1,2,3,3,3,3,4,5,6,7}
s

{1, 2, 3, 4, 5, 6, 7}

In [45]:
s = {1,2,3, (1,2,3,4,5), 4,5,6}
s

{(1, 2, 3, 4, 5), 1, 2, 3, 4, 5, 6}

In [49]:
# Empty set

x = set()
type(x)

set

add(): Adds an element to the set

In [50]:
s = {1,2,3,4,5}
s

{1, 2, 3, 4, 5}

In [51]:
s.add(6)
s

{1, 2, 3, 4, 5, 6}

discard(): Deleted the specified element

In [52]:
s.discard(3)
s

{1, 2, 4, 5, 6}

pop(): Removes an element from the element

In [58]:
s.pop()
s

{2, 3, 4, 5}

update(): Updates the set with another collection

In [54]:
s.update([7,8,9,10])
s

{2, 4, 5, 6, 7, 8, 9, 10}

clear(): Removes all elements from the set

In [55]:
s.clear()
s

set()

In [56]:
s = {1,2,3,4,5}
s[2]

TypeError: 'set' object is not subscriptable

## Type Casting

Covert the data type of a variable

In [59]:
x = "15"
type(x)

str

In [60]:
y = int(x)  # y = int("15") = 15
type(y)

int

In [61]:
x = 10
type(x)

int

In [62]:
y = float(x) # y = float(x) = float(10)
y

10.0

In [63]:
x = (1,2,3,4)
type(x)

tuple

In [64]:
y = list(x)
y

[1, 2, 3, 4]

In [65]:
x = 'Hello'
y = int(x)

ValueError: invalid literal for int() with base 10: 'Hello'

In [66]:
name = input('Enter your name: ')
name

Enter your name: Arshdeep

'Arshdeep'

In [68]:
x = int(input('Enter a number: ')) # int('5')=5
y = int(input('Enter a number: ')) # int('3')=3
x+y  # 5 + 3 = 8

Enter a number: 5
Enter a number: 3

8